body{
  width:80%;
  margin:20px auto;
  box-shadow:0px 10px 20px grey;
}
h1{
    text-align:center;
}
form > label{
  text-align:left;
  margin-bottom:3px;
  margin-left:10%;
}

form > input{
  height:30px;
  width:80%;
  margin-left:10%;
  margin-bottom:20px;
  border-radius:5px;
}

select{
  height:40px;
  width:80%;
  margin-left:10%;
  margin-bottom:20px;
  border-radius:5px;
}

input:focus, textarea:focus{
  border-color:blue;
}

input:invalid, select:invalid, textarea:invalid{
  border-color:red;
}

input:valid, select:valid, textarea:valid{
  border-color:green;
}

.radio-group{
    margin-left:10%;
    width:80%;
    height:50px;
    border-radius:5px;
}

.radio-group > input{
    margin-top:10px;
}

.radio-group input[type="radio"]:checked{
  border-color:yellow;
  background-color:orangered;
  box-shadow: 0 4px 8px gray;
}

.radio-group input[type="radio"]:checked + label{
  color:green;
}

input:first-of-type{
  border-radius:4px;
}

h3{
    margin-left:10%;
    margin-bottom:2px;
}

#message{
    margin-left:10%;
    margin-top:0px;
    width:80%;
    height:120px;
    border-radius:5px;
}

#submit{
    text-align:center;
    width:80%;
    height:40px;
    margin:10px 10%;
    background-color: green;
    color: white;
    border-radius: 5px;
}

#submit:hover{
    background-color: indigo;
    cursor:pointer;
}
