#email{
  padding: 50px;
  margin: 50px auto;
  width: 500px;
  border: 2px solid black;
  box-sizing: border-box;
  background-color: bisque;
  box-shadow: 5px 5px 10px 0 black
}

#top-secret{
  display: inline-block;
  padding: 2px;
  margin-left: 3px;
  border: 2px solid red;
  transform: rotate(-20deg);
  color: red;
  font-size: 20px;
}

#confidential{
  display: inline-block;
  color: red;
  padding: 2px;
  margin-left: 200px;
  border: 2px solid red;
  transform: rotate(25deg);
  font-size: 20px;
}

.blurred{
  filter: blur(3px);
}