#header{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  font-size: 20px;
  position: fixed;
  background-color: white;
  width: 100%;
  top: 0;
}

#header-img{
  width: 50px;
  height: 50px;
}

#header div{
  display: flex;
  justify-content: center;
}

#nav-bar{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

.nav-link{
  text-decoration: none;
  color: black;
}

#form{
  padding-top: 60px;
  text-align: center;
}

#email{
  width: 250px;
  height: 30px;
  border-radius: 5px;
}

#submit{
  width: 150px;
  height: 40px;
  margin: 20px auto;
  border-radius: 5px;
  background-color: rgb(249, 182, 13);
  border: 2px solid rgb(249, 182, 13);
}

#submit:active{
  background-color: rgb(210, 154, 11);
}

#submit:hover, #Pricing button:hover{
  cursor: pointer;
}

#Features{
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
  margin: 20px auto;
  min-width: 500px;
  max-width: 60%;
}

.features-img{
  width: 100px;
  height: 100px;
  border: 1px solid black;
  margin-right: 15px;
  margin-left: auto;
}

#How_it_works{
  text-align: center;
  margin: 50px;
}

#Pricing{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

#Pricing div{
  border: 1px solid black;
  width: 30%;
  border-radius: 5px;
  padding: 0;
}

#Pricing h3{
  background-color: lightgrey;
  position: relative;
  top: 0;
  height: 60px;
  margin: 0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#Pricing button{
  width: 100px;
  height: 30px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: rgb(249, 182, 13);
  border:1px solid rgb(249, 182, 13);
}

#Pricing button:active{
  background-color: rgb(210, 154, 11);
}

@media (min-width:400px){
  #form{
    padding-top: 100px;
  }
}

@media (min-width:1000px){
  #Pricing div{
    width: 300px;
    margin-left: 10px;
    margin-right: 10px;
  }
  #Pricing{
    justify-content: center;
  }
  #header{
    width: 870px;
    margin:0 auto;
  }
  body{
    width: 870px;
    margin:0 auto;
  }
}