*{
  box-sizing: border-box;
}

#house{
  position: relative;
  width: 500px;
  height: 400px;
  background-color: rgb(244, 198, 112);
  border: 5px solid #a35a1b;
  top:150px;
  margin: auto;
}

#house > div{
  position: absolute;
}

#chimney{
  background-color: grey;
  width: 100px;
  height: 120px;
  top: -120px;
  left: 350px;
  border: 2px solid black;
  z-index:-1;
}

#chimney p{
  line-height: 4px;
  margin-top: 10px;
}

#roof {
  top: 0px;
  width: 100%;
  height: 120px;
  background-color: rgb(244, 198, 112);
  border: 2px solid #a35a1b;
  background-image: repeating-linear-gradient(45deg, #a35a1b 0 7px, transparent 0px 20px),
    repeating-linear-gradient(-45deg, #a35a1b 0 7px, transparent 0px 20px);
}

#window-1{
  width: 120px;
  height: 150px;
  background-color: lightblue;
  border: 3px solid #a35a1b;
  top: 140px;
  left: 30px;
}

#window-2{
  width: 120px;
  height: 150px;
  background-color: lightblue;
  border: 3px solid #a35a1b;
  top: 140px;
  right: 30px;
}

#door{
  width: 120px;
  height: 150px;
  background-color: lightblue;
  border: 3px solid #a35a1b;
  bottom: 0px;
  left: 190px;
}


